.main-contact-div {
  margin-top: 5rem;
}

.background-image-contact {
  background-image: url("../../Assets/contact.jpg");
  width: 100%;
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.content {
  padding: 20px;
}

.content p {
  color: aqua;
}

.contact-para {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 3rem;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.contact-input-div {
  width: 50%;
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 3rem;
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.first-input-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-bottom: 2rem;
}
.second-input-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

input {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding-left: 1rem;
}

textarea {
  margin-top: 3rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding-left: 1rem;
}

input:focus {
  outline: none !important;
}
textarea:focus {
  outline: none !important;
}

.custom-button {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
  width: 100%;
}

.custom-button:hover {
  background-color: #45a049;
}
