.main-navbar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.links-navbar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.links-navbar-div p {
  color: black;
  font-size: 1.2rem;
}
.image-navbar-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-navbar-div img {
  width: 40%;
}

.navbar-menu-div {
  display: none;
}

@media (max-width: 769px) {
  .image-navbar-div {
    justify-content: left;
  }
}

@media (max-width: 427px) {
  .links-navbar-div {
    display: none;
  }
  .para-navbar-div {
    font-size: 1.4rem;
    color: black;
  }
  .navbar-menu-div {
    display: block;
    font-size: 2rem;
  }
  .image-navbar-div img {
    margin-top: 5px;
  }
  hr {
    color: black;
    margin-bottom: 1rem;
  }
  .drawer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 5rem;
  }
}
